[Unit]
Description=Felix Console Init
After=network.target

[Service]
Type=simple
ExecStart=/root/felix/felix_init.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target