[Unit]
Description=Felix Console Init
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /root/felix/felix_init.sh
Restart=always
User=root
RemainAfterExit=true
StandardOutput=tty
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target
